<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
         <setting name="cacheEnabled" value="true"/>  
         <setting name="lazyLoadingEnabled" value="false"/>  
    </settings>  
    <!-- 配置JDBC连接参数 -->  
    <environments default="development">  
        <environment id="development">  
            <transactionManager type="JDBC"/>  
            <dataSource type="POOLED">  
                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>  
                  <property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:orcl"/>  
                  <property name="username" value="zhang"/>  
                  <property name="password" value="111"/>  
            </dataSource>  
        </environment>  
    </environments>  
    <!-- 指明每个关系表的配置文件 -->  
    <mappers>  
        <mapper resource="com/zzd/dao/UrlDao.xml"/>  
    </mappers>  
</configuration>  